/**
 * Variables
*/

$bg-dark: #030303;
$dark-red: #710707;
$font-gold: #9d8665;
$link-active: #7e6c51;
$font-secondary: #000000;
$letter-s: 5px;
$userFontFamily: Forum, sans-serif;

$hoverFilter: invert(58%) sepia(18%) saturate(681%) hue-rotate(356deg) brightness(91%) contrast(81%);

$font1: 80px;
$font2: 32px;
$font3: 28px;
$font4: 22px;

$font1-lg: 50px;
$font2-lg: 32px;
$font3-lg: 28px;
$font4-lg: 24px;
$font5-lg: 20px;

$font1-md: 40px;
$font2-md: 32px;
$font3-md: 22px;
$font4-md: 18px;
$font5-md: 16px;

$font1-sm: 40px;
$font2-sm: 32px;
$font3-sm: 16px;
$font4-sm: 18px;
$font5-sm: 16px;

$btn-h: 75px;
$btn-w: 360px;
$btn-w-sm: 175px;
$btn-h-sm: 50px;
$btn-radius: 10px;
$btn-radius-sm: 2px;
