/**
 * Variables
*/

$bg-dark: #030303;
$dark-red: #710707;
$font-gold: #9d8665;
$link-active: #7e6c51;
$font-secondary: #000000;
$letter-s: 5px;
$userFontFamily: Forum, sans-serif;

$hoverFilter: invert(58%) sepia(18%) saturate(681%) hue-rotate(356deg) brightness(91%) contrast(81%);

$font1: 80px;
$font2: 32px;
$font3: 28px;
$font4: 22px;

$btn-h: 75px;
$btn-w: 360px;
$btn-w-sm: 175px;
$btn-radius: 10px;
$btn-radius-sm: 2px;
