// VARIABLES SECTION
$bg-dark: #151719;
$dark-red: #710707;
$font-gold: #9d8665;
$font-secondary: #000000;
$userFontFamily: Forum, sans-serif;

$font1: 80px;
$font2: 32px;
$font3: 28px;
$font4: 22px;

$btn-h: 75px;
$btn-w: 360px;
$btn-w-sm: 175px;
$btn-radius: 10px;
$btn-radius-sm: 2px;

/*Reset CSS*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  line-height: 1;
  font-size: 18px;
  font-weight: 400;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.container {
  height: 100%;
  width: calc(100% - 40px);
  max-width: 1440px;
  margin: 0 auto;
}
