.contacts-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @media (max-width: 1024px) {
    min-height: 454px;
  }
}
.contacts-content__left {
  min-width: 282px;
  @media (max-width: 1024px) {
    width: 29%;
  }
  @media (max-width: 768px) {
    width: 100%;
    margin-bottom: 40px;
  }
}

.contacts-content__right {
  height: 620px;
  width: 71%;
  max-width: 960px;
  @media (max-width: 1024px) {
    width: 71%;
    height: 454px;
  }
  @media (max-width: 768px) {
    width: 100%;
    height: 476px;
    margin-bottom: 27px;
  }

  @media (max-width: 420px) {
    height: 248px;
    margin-bottom: 0;
  }
}

.contacts-content__img {
  background-size: contain;
  @media (max-width: 1024px) {
    background-position: 20px;
  }
}
.contacts-content__map {
  width: 100%;
  height: 100%;
}
.contacts-content__title {
  margin-bottom: 60px;
  font-size: $font3;
  font-weight: 500;
  letter-spacing: 0;

  @media (max-width: 1024px) {
    margin-bottom: 43px;
    font-size: $font4-lg;
  }
  @media (max-width: 768px) {
    font-size: $font5-lg;
  }

  @media (max-width: 420px) {
    font-size: $font5-sm;
  }
}
.contacts-list {
  font-size: $font4;
  font-weight: 300;
  letter-spacing: 0;

  @media (max-width: 1024px) {
    font-size: $font5-lg;
  }

  @media (max-width: 768px) {
    font-size: $font4-md;
  }

  @media (max-width: 420px) {
    font-size: $font4-sm;
  }
}
.contacts-list__item {
  margin-bottom: 29px;
  &:last-child {
    margin-bottom: 0;
  }
  @media (max-width: 1024px) {
    margin-bottom: 18px;
  }
}

.contacts-list__item a {
  color: #000;
  &:hover {
    color: $font-gold;
  }
  transition: color 0.1s linear;
}

.contacts-list__item address {
  display: inline-block;
  font-style: normal;
}
