.explore-inner {
  display: flex;
  flex-wrap: wrap;
}
.explore-inner__left-col {
  padding-right: 61px;
  width: 50%;

  @media (max-width: 1024px) {
    padding-right: 0;
    margin-bottom: 62px;
    width: 100%;
  }
  @media (max-width: 768px) {
    margin-bottom: 0;
  }
}
.explore-inner__right-col {
  position: relative;
  margin-top: 15px;
  width: 50%;
  @media (max-width: 1024px) {
    margin: 0 auto;
    width: 720px;
  }
  @media (max-width: 420px) {
    // height: 368px;
  }
}

.explore-content {
  font-size: $font4;
  font-weight: 300;
  line-height: 38px;
}
.explore-content__paragraph {
  margin-bottom: 25px;
  letter-spacing: 0;
  & span {
    color: $font-gold;
  }

  @media (max-width: 1024px) {
    font-size: $font5-lg;
    margin-bottom: 0;
    &:nth-child(3) {
      display: none;
    }
  }

  @media (max-width: 768px) {
    display: none;
  }
}
.explore-img_wrapper {
  position: relative;
  width: 100%;
  max-width: 100%;
  @media (max-width: 420px) {
    height: 368px;
  }
}
.explore-img__before {
  height: 100%;
  z-index: 1;
}
.explore-img__after {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.explore-img__slider {
  width: 39px;
  height: 100%;
  background: url('/src/images/svg/explore-slider.svg') no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 58.5%;
  z-index: 3;

  cursor: pointer;
  &:hover {
    filter: brightness(90%);
    transition: filter 0.1s linear;
  }
}
