.gallery {
  margin-top: 75px;
  min-height: 2200px;
  overflow-y: hidden;
}

.gallery-inner {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: dense;
  grid-auto-rows: 1fr;
  grid-column-gap: 36px;
  grid-row-gap: 14px;
  &.gallery-img {
    width: 100%;
    object-fit: cover;
  }
  & .gallery-img:nth-child(3n + 1) {
    top: 50px;
    position: relative;
    grid-column-start: 1;
  }
  & .gallery-img:nth-child(3n + 2) {
    grid-column-start: 2;
  }
  & .gallery-img:nth-child(3n + 3) {
    grid-column-start: 3;
    position: relative;
    top: 50px;
  }
}

.img-3 {
  grid-row-end: span 3;
}
.img-4 {
  grid-row-end: span 4;
}
.img-5 {
  grid-row-end: span 5;
}
