.header {
  display: flex;
  width: 100%;
  height: 150px;
  background: $bg-dark;
  z-index: 10;
  @media (max-width: 1024px) {
    height: 130px;
  }
}

.header-inner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: $letter-s;
  &:hover {
    filter: $hoverFilter;
  }
  transition: filter 0.1s linear;
}
.logo__img {
  display: inline-block;
  width: 49px;
  height: 26px;
  background: url('/src/images/svg/logo.svg') no-repeat center center;
}
.logo__text {
  margin-left: 16px;
  display: inline-block;
  font-family: $userFontFamily;
  font-size: $font3;
  letter-spacing: $letter-s;
}
.nav__list {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 1024px) {
    display: none;
  }
}
.nav__link {
  font-weight: 100;
  color: #fff;
  font-size: $font4;
  margin-left: 56px;
  &:hover {
    color: $font-gold;
  }
  &.active {
    color: $link-active;
  }
  transition: color 0.1s linear;
}

.burger-menu {
  width: 32px;
  height: 18px;
  display: none;
  position: relative;
  padding: 0;
  border: 0;
  font-size: 0;
  color: transparent;
  background: none;
  cursor: pointer;
  @media (max-width: 1024px) {
    display: block;
  }
}

.burger-menu__line {
  display: block;
  width: 32px;
  height: 2px;
  margin: 6px 0;
  background-color: #fff;
}
