.navigation {
  display: none;
  width: 30%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  transition: 0.5s;
  transform: translateX(-100%);

  @media (max-width: 1024px) {
    display: block;
  }
  &.active {
    transform: translateX(0);
  }
}
.navigation-nav__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.navigation-nav__link {
  font-weight: 100;
  color: #fff;
  margin-left: 56px;
  &:hover {
    filter: $hoverFilter;
  }
  &.active {
    color: $link-active;
  }
  transition: color 0.1s linear, filter 0.1s linear;
  @media (max-width: 1024px) {
    margin-bottom: 25px;
    margin-left: 55px;
    width: 122px;

    display: inline-block;
    position: relative;
    justify-content: space-between;

    font-size: $font5-lg;
  }
}

.nav__link--arrow {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url('/src/images/svg/menu-arrow.svg') no-repeat center center;
}
