.navigation {
  padding: 0 55px;
  display: none;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: 0.5s;
  transform: translateX(-110%);

  &.active {
    background: $bg-dark;
    transform: translateX(0);
  }

  @media (max-width: 1024px) {
    display: block;
  }

  @media (max-width: 768px) {
    width: 100%;
  }
}
.navigation-nav__list {
  margin: 35px 0;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.navigation-nav__link {
  font-weight: 300;
  color: #fff;
  &:hover {
    filter: $hoverFilter;
  }
  &.active {
    color: $link-active;
  }
  transition: color 0.1s linear, filter 0.1s linear;
  @media (max-width: 1024px) {
    margin-bottom: 28px;
    width: 122px;

    display: inline-block;
    position: relative;
    justify-content: space-between;

    font-size: $font5-lg;
  }
}

.nav__link--arrow {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url('/src/images/svg/menu-arrow.svg') no-repeat center center;
}

.navigation-images {
  display: none;
  @media (max-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    & > .navigation-images__img:first-child {
      grid-column: span 2;
    }
  }

  @media (max-width: 420px) {
    height: 95px;
    grid-template-columns: repeat(3, 1fr);
    & > .navigation-images__img:first-child {
      grid-column: auto;
    }
    gap: 12px;
  }
}

.navigation-images__img {
  @media (max-width: 420px) {
    & > img {
      height: 95px;
      object-fit: cover;
    }
  }
}

.navigation-separator {
  display: none;
  @media (max-width: 768px) {
    display: block;
    margin: 35px 0;
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.5);
  }

  @media (max-width: 420px) {
    margin: 20px 0;
  }
}

.navigation-social {
  display: none;
  @media (max-width: 768px) {
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    & .social__list {
      justify-content: center;
      margin: 0;
    }
  }
}
