.parallax {
  width: 100%;
  height: 400px;
  background: url('/src/images/content/parallax.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
