.section {
  padding: 75px 0;
  &.section--welcome {
    padding: 0;
  }
  &.dark {
    background-color: $bg-dark;
    color: #fff;
  }

  &.section--artGallery {
    position: relative;
    height: 2200px;
    overflow-y: hidden;
    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 360px;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);

      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 2;
    }
  }
}

.section-header {
  &.d-flex {
    display: flex;
  }
  &.jc-sb {
    justify-content: space-between;
  }
  &.align-center {
    align-items: center;
  }
}

.section-title {
  line-height: 90px;
  margin-bottom: 75px;
  position: relative;
  font-size: $font1;
  font-family: Forum, sans-serif;
  text-transform: uppercase;
  color: $font-gold;
  letter-spacing: $letter-s;
  &:after {
    content: '';
    margin: 25px 0;
    display: block;
    width: 100%;
    height: 3px;
    background: $dark-red;
  }
  &.none-decoration {
    margin-bottom: 0;
    &:after {
      display: none;
    }
  }
  &.white {
    color: #fff;
  }
}

.section-description {
  width: 720px;
  font-size: $font4;
  font-weight: 300;
  line-height: 38px;
  letter-spacing: 0;
}
