.tickets {
  display: flex;

  @media (max-width: 1024px) {
    flex-wrap: wrap;
    height: auto;
  }

  @media (max-width: 420px) {
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.tickets-form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-left: 60px;

  @media (max-width: 1024px) {
    width: auto;
    margin: 0;
  }

  @media (max-width: 420px) {
    justify-content: center;
  }
}

.tickets-img {
  object-fit: cover;
  @media (max-width: 1024px) {
    width: 700px;
    height: 440px;
  }
  @media (max-width: 768px) {
    width: 444px;
    height: 340px;
  }

  @media (max-width: 420px) {
    height: 160px;
    margin-bottom: 40px;
  }
}

.tickets-form__type {
  display: flex;
  flex-direction: column;
  @media (max-width: 1024px) {
    display: none;
  }
}

.tickets-form__amount {
  position: relative;
  margin-left: auto;

  @media (max-width: 1024px) {
    margin-left: 80px;
  }
  @media (max-width: 768px) {
    margin-left: 60px;
  }

  @media (max-width: 420px) {
    margin-left: 0;
  }
}

.tickets-form-title {
  margin-bottom: 30px;
  font-size: $font3;
  font-weight: 700;
  letter-spacing: 0;
  text-align: left;

  &.title-amount {
    text-align: right;
  }

  @media (max-width: 1024px) {
    &.title-amount {
      text-align: left;
    }
  }

  @media (max-width: 420px) {
    margin-bottom: 20px;
    text-align: center;
    font-size: $font4-sm;
    &.title-amount {
      text-align: center;
    }
  }
}

.form__type-label {
  margin: 29px 0;
  padding-left: 40px;
  display: block;
  position: relative;

  font-size: $font4;
  font-weight: 300;
  letter-spacing: 0;

  cursor: pointer;
  &:hover {
    color: $font-gold;
  }

  transition: color 0.1s linear;
}

.label-radio__checkbox {
  position: absolute;
  top: 50%;
  left: 0;

  transform: translateY(-50%);
  width: 17px;
  height: 17px;
  border: 2px solid #000;
  border-radius: 50%;

  &:after {
    content: '';
    position: absolute;
    opacity: 0;
    width: 7px;
    height: 7px;
    top: 3px;
    left: 3px;
    border-radius: 50%;
    background: #000;
    transition: 0.2s;
  }
}

.form__type-label input:checked ~ .label-radio__checkbox:after {
  opacity: 1;
}

.form__amount-list {
  display: flex;
  align-items: flex-end;
  flex-direction: column;

  @media (max-width: 1024px) {
    align-items: flex-start;
  }

  @media (max-width: 420px) {
    & li:nth-of-type(3) {
      margin-bottom: 0;
    }
  }
}
.amount-list__item {
  margin-bottom: 10px;
  width: 150px;
  @media (max-width: 1024px) {
    margin-bottom: 23px;
    width: 100%;
  }

  @media (max-width: 768px) {
    margin-bottom: 7px;
  }

  @media (max-width: 420px) {
    margin-bottom: 20px;
  }
}
.amount-list__item-title {
  margin-top: 4px;
  margin-bottom: 15px;
  font-size: $font4;
  font-weight: 300;
  letter-spacing: 0;

  @media (max-width: 768px) {
    margin-top: 17px;
  }

  @media (max-width: 420px) {
    font-size: $font4-sm;
    margin-top: 3px;
  }
}
.amount-list__item-amount {
  padding: 0 14px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #000;
  text-align: center;
}

.item-amount__total-amount {
  margin-top: 43px;
  @media (max-width: 1024px) {
    margin-top: 0;
  }

  @media (max-width: 768px) {
    margin-top: 30px;
  }

  @media (max-width: 420px) {
    margin-top: 23px;
  }
}

#total-amount {
  display: inline-block;
  margin-left: 13px;
}

.item-amount__btn {
  width: 20px;
  background: transparent;
  font-size: $font2;
  font-weight: 400;

  &:hover {
    color: $font-gold;
  }
  transition: color 0.1s linear;
}
.item-amount__input {
  padding-left: 11px;
  display: block;
  width: 50px;
  text-align: center;
  pointer-events: none;
  font-size: $font4;
  font-weight: 300;
  letter-spacing: 0;
}

.item-amount__total-amount {
  font-size: $font3;
  font-weight: 700;
  letter-spacing: 1.65px;

  @media (max-width: 420px) {
    letter-spacing: 0;
    text-align: center;
    font-size: $font4-sm;
  }
}

.tickets-form .btn {
  margin-top: 52px;
  letter-spacing: 2px;
  @media (max-width: 768px) {
    margin-top: 40px;
  }
}
