.welcome-wrapper {
  position: relative;
  display: flex;
  justify-content: flex-end;
  height: 810px;

  @media (max-width: 1024px) {
    height: 585px;
  }
}

.welcome-slider {
  width: 100%;
  height: 100%;
  position: relative;
  max-width: 1000px;
  display: flex;
  color: #fff;

  @media (max-width: 1024px) {
    max-width: 700px;
  }
}

.slider-item {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}
.welcome-content {
  position: absolute;
  top: 120px;
  left: 0;
  z-index: 2;
  opacity: 1;

  &.hide {
    opacity: 0;
  }

  transition: opacity 0.4s linear;

  @media (max-width: 1024px) {
    top: 50px;
  }
}

.welcome-content__title {
  padding-top: 30px;
  margin-bottom: 25px;
  max-width: 600px;
  font-size: $font1;
  font-family: $userFontFamily;
  letter-spacing: $letter-s;
  line-height: 90px;
  text-transform: uppercase;
  font-weight: 400;
  @media (max-width: 1024px) {
    padding: 0;
    max-width: 400px;
    font-size: $font1-lg;
  }
}

.welcome-content__description {
  margin-bottom: 75px;
  font-size: $font3;
  font-weight: 300;
  @media (max-width: 1024px) {
    margin-bottom: 50px;
    font-size: $font4-lg;
  }
}

.slider-item__img {
  width: 1000px;
  height: 750px;
  background: linear-gradient(90deg, #030303 0%, rgba(3, 3, 3, 0.5) 16.19%, rgba(3, 3, 3, 0) 30.73%),
    url('/src/images/content/slider/monaLiza.jpg') no-repeat;
  background-size: cover;

  @media (max-width: 1024px) {
    width: 700px;
    height: 525px;
  }
}

.slider-pagination {
  display: flex;
  justify-content: space-around;
  align-items: center;

  background: $bg-dark;

  position: absolute;
  bottom: 0;
  right: 0;
  width: 600px;
  height: 120px;

  @media (max-width: 1024px) {
    width: 100%;
    padding-right: 26px;
    justify-content: flex-end;
  }
}

.slider-pagination-count {
  margin-left: 45px;
  pointer-events: none;
  font-size: $font4;
  letter-spacing: 0;

  @media (max-width: 1024px) {
    font-size: $font5-lg;
  }
}

.slider-pagination-count__separator {
  margin: 0 5px;
}

.slider-pagination-dots {
  display: flex;

  @media (max-width: 1024px) {
    margin: 0 45px;
  }
}
.slider-pagination-dot {
  margin-right: 25px;
  &:after {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    background: #fff;

    @media (max-width: 1024px) {
      width: 12px;
      height: 12px;
    }
  }
  &:last-child {
    margin: 0;
  }
  &.active::after {
    background: $font-gold;
  }
  &:hover {
    cursor: pointer;
    filter: $hoverFilter;
  }
  transition: filter 0.1s linear;
}

.slider-pagination-arrows {
  margin-right: 32px;
  display: flex;
  width: 98px;
  justify-content: space-between;
}
.arrow-prev {
  width: 40px;
  height: 25px;
  background: url('/src/images/svg/arrow-left.svg') no-repeat right center;
  &:hover {
    filter: $hoverFilter;
    transform: translateX(-5px);
  }
  transition: filter 0.1s linear, transform 0.1s linear;
}
.arrow-next {
  width: 40px;
  height: 25px;
  background: url('/src/images/svg/arrow-right.svg') no-repeat left center;
  &:hover {
    filter: $hoverFilter;
    transform: translateX(5px);
  }
  transition: filter 0.1s linear, transform 0.1s linear;
}
